* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
.container,
header,
main,
label,
section,
.currency-container,
.currency-value,
.section-input-data,
.radio,
.lbl-radio,
.label-box,
.section-form,
.grid-radio,
.label-box .currency-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ccc;
}

.container {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ddd;
    justify-content: space-between;
    position: relative;
}

header {
    width: 100%;
    height:40px;
    padding: 10px;
    background-color: rgb(0, 97, 187);
}

header h1 {
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

main {
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
    width: 100%;
    min-height: 95vh;
    
    padding:10px;
    gap: 5px;
}

label {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    position: relative;
}

/*          Section-view            */
.section-view {
    width: 100%;
    height: 60vh;
    gap: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-view .currency-container {
    width: 100%;
    height:100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 5px;
    overflow: hidden;

}

.currency-value {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.575) 90%);
}

.currency-container .currency-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 100%);

}

/*          Radio Buttons         */

.section-form {
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 30%;
    gap: 10px;
}

.grid-radio {
    flex-direction: column;
    min-width: 350px;
    width: 100%;
    border-radius: 15px 15px 0 0 ;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(172, 172, 172, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(255, 255, 255, 0.5);
    gap: 5px;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
}
.grid-radio::-webkit-scrollbar{
    height: 10px;
}
.grid-radio::-webkit-scrollbar-thumb{
    background-color: rgba(37, 37, 37, 0.315);
}
.grid-radio::-webkit-scrollbar-track{
    background-color: rgba(27, 27, 27, 0.151);
}

.grid-radio .tittle {
    color: rgb(68, 68, 68);
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    z-index: 1000;
    top: 30px;
    left: 0;
    text-transform: uppercase;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked+.label-radio .currency-img {
    animation: pulse .5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

input[type='radio']:checked+.label-radio .currency-name {
    background-color: rgb(0, 0, 0);
    color: #fff;
    z-index: 1;
}

input[type='radio']:checked+.label-radio .label-box {

    color: #fff;
    z-index: 1;
}


.radio {
    align-items: stretch;
    gap: 10px;
    min-width:100%;
    height: 100%;
    padding:10px;
    margin-inline: auto;
   
}
.label-box {
    width: 100%;
    width: 130px;
    height: 100%;
    gap: 5px;
    justify-content: space-around;
    flex-direction: column;
    transition: .8s ease-in-out;
    word-wrap: break-word;
}

.label-box .currency-name {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: .6rem;
    border-radius: 11px;
    font-weight: bold;
    padding: 0 5px;
    word-wrap: break-word;
    color: #000;
    transition: .8s ease-in-out;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(172, 172, 172, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(255, 255, 255, 0.5);
}

.label-box .currency-img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    text-shadow: -2px -2px 5px #fff;
    filter: drop-shadow(4px 4px 10px #fff);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.08),
        0px 10px 5px rgba(0, 0, 0, 0.1),
        0px 15px 10px rgba(0, 0, 0, 0.1),
        inset -5px -5px 7.5px rgba(255, 255, 255, 0.8);
    transition: .5s ease-in-out;
}


.label-box .currency-img::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.37);
    width: 15%;
    height: 15%;
    border-radius: 50%;
    filter: blur(2.5px);
}

.label-box .currency-img::after {
    content: '';
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.486);
    width: 5%;
    height: 5%;
    border-radius: 50%;
    filter: blur(2.5px);
}

.label-box .currency-img img {
    width: 100%;
    height: 100%;
}

/*          Section Data            */

.section-input-data {
    width: 100%;
    height: 10%;
    gap: 10px;
    position: relative;
    align-items: center;
}

.input-money {
    width: 100%;
    position: relative;
    text-align: center;
    outline: none;
    padding: 12.5px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: .4s ease-in-out;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(172, 172, 172, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.08),
        -5px -5px 5px rgba(255, 255, 255, 0.5);
}

.input-money.error {
    border: 2px solid red;
    opacity: 1;
}

.convert-button {
    background-color: rgb(0, 132, 255);
    border: none;
    width: 100%;
    max-width: 350px;
    padding: 12.5px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4),
        0 0 10px black, inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.convert-button:hover {
    filter: contrast(110%);
}

.convert-button.error {
    background-color: red;
    opacity: 1;
}

.success {
    background-color: rgb(0, 255, 76);
    opacity: 1;
}

@media (max-width:800px) {
    .main{
        justify-content: center;
    }
    .section-view {
        height: 40vh;
    }

    .section-form {
        flex-wrap: wrap;
    }

    .section-input-data {
        flex-wrap: wrap;
    }

    .currency-value {
        font-size: 1.5rem;
    }

    .label-box .currency-img {
        width: 80px;
        height: 80px;

    }
    header h1 {
        font-size: 1.5rem;
    }

    .grid-radio {
        padding: 10px;
    }

    .label-box .currency-name {

        font-size: .6rem;
        padding: 0 5px;

    }
}


@media (max-width:450px) {
    .section-view {
        height: 40vh;
        flex-direction: column;
    }

    .label-box .currency-img {
        width: 60px;
        height: 60px;

    }
    .label-box .currency-name {

        font-size: .5em;
        padding: 0 5px;
        height: 25px;
    }
    .label-box {
        width: 90px;
    }
    .input-money {
        padding: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        
    }
}

